/* Sberpay styles */
.pay-button_sberpay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21a038;
    border-radius: 5px;
    color: #fff;
    font-family: inherit;
    font-size: 17px;
    line-height: 60px;
    margin-top: 10px;
}

.pay-button_sberpay:hover {
    background-color: #1e8f33;
}

.pay-button_sberpay>span {
    display: inline-block;
    color: rgb(253, 143, 189);
    height: 20px;
    line-height: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 7px;
    vertical-align: baseline;
}

.pay-button_sberpay>svg {
    display: inline-block;
    width: 60px;
    height: 20px;
    margin-bottom: 1px;
    vertical-align: baseline;
}

.popup-fade {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    opacity: 0;
    overflow-y: auto;
    -webkit-transition: opacity 0.2s, z-index 0s 0.2s;
    -o-transition: opacity 0.2s, z-index 0s 0.2s;
    transition: opacity 0.2s, z-index 0s 0.2s;
}

.popup-fade:before {
    content: '';
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.popup-fade_visible {
    z-index: 999;
    opacity: 1;
    transition: opacity 0.2s;
}

.popup {
    position: relative;
    display: inline-block;
    padding: 30px;
    width: 400px;
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden auto;
    pointer-events: all;
    z-index: 1000;
}

#popup-sberpay-push {
    display: none;
}

#popup-sberpay-push-result {
    display: none;
}

.popup__close-btn {
    position: absolute;
    right: 20px;
    top: 22px;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background: 0 0;
    cursor: pointer;
}

.popup__close-btn:after,
.popup__close-btn:before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 20px;
    height: 1px;
    border-radius: 1px;
    background: #919191;
}

.popup__close-btn:hover::after,
.popup__close-btn:hover::before {
    background: #454545;
}

.popup__close-btn:before {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
}

.popup__close-btn:after {
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

.popup__close-btn>span {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.popup__header {
    font-size: 1.4rem;
    text-align: left;
}

.popup__tip {
    font-size: 1rem;
    margin: 1em 0;
    text-align: left;
}

.popup__tip-accent {
    color: #1f1f1f;
    font-size: inherit;
    font-weight: bold;
}

.popup__body {
    margin-top: 1.25rem;
}

.popup__text-block {
    font-size: 1rem;
    margin: 1rem 0;
    text-align: left;
}

.sberpay-qr-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.sberpay-qr {
    position: relative;
}

.sberpay-qr__img {
    width: 200px;
    padding: 30px;
}

.sberpay-qr__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12.5px;
    margin-left: -25px;
}

.popup__button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

.popup__button-group>.popup__button {
    margin-top: 10px;
}

.popup__button-group>.popup__button:nth-child(1) {
    margin-top: 0;
}

#popup-sberpay .popup__body>.popup__button-group {
    margin-top: 1.25rem;
}

.popup__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    background-color: #fff;
    background-image: none !important;
    color: #4d4f53;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    height: 50px;
    margin-top: 1.5rem;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: background-image, background-color, color;
    -o-transition-property: background-image, background-color, color;
    transition-property: background-image, background-color, color;
    cursor: pointer;
}

.popup__button:hover {
    background-color: #efefef;
}

.popup__button_with-img>span {
    display: inline-block;
    margin-left: 8px;
}

#popup-sberpay-qr .popup__button_with-img>span {
    margin-left: 6px;
}

.sberpay-phone__label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.sberpay-phone__input {
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    font-size: 24px;
    width: 100%;
    height: 38px;
    padding: 0 10px;
}

.sberpay-phone__input:hover {
    border: 1px solid #b3b3b3;
}

.sberpay-phone__button {
    width: 100%;
    height: 50px;
    border-width: 0px;
    color: #4d4f53;
    font-size: 16px;
    background-color: #55ed00;
    margin-top: 10px;
    cursor: pointer;
}

.popup__alert {
    display: none;
    position: relative;
    color: #e51010;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    font-size: 1rem;
    padding: .75rem 1.25rem;
    margin-top: 1.25rem;
    text-align: left;
}

.alert-success {
    color: #0e8729;
    background-color: #d1e7d3;
    border-color: #badbcc;
}

.modal-open {
    overflow: hidden;
}

@media screen and (max-device-width: 610px) {
    .popup-fade {
        display: none !important;
    }
    .pay-button_sberpay {
        width: 100%;
        line-height: 56px;
    }
}


/* ---------/Sberpay styles */