.contactless__pay-card.sberpay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21a038;
    font-family: inherit;
    font-size: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    outline: none !important;
}

.contactless__pay-card.sberpay:not([disabled]):hover {
    background-color: #1e8f33;
}

.contactless__pay-card.sberpay>svg {
    width: 69px;
    height: 23px;
}

.contactless__pay-card.sberpay>span {
    font-family: inherit;
    color: #fff;
    padding-right: 7px;
}

#popup-sberpay.popup {
    background-color: #f5f6f7;
    padding: 0;
}

#popup-sberpay .popup__close-btn {
    display: none !important;
}

#popup-sberpay .popup__content {
    max-width: 400px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

.sberpay-qr__img {
    width: 180px;
    padding: 20px;
}